@{
    ViewData["Title"] = "Power BI Embedded Report";
}

<section id="report-container" class="embed-container mt-5">
</section>

<!-- Used to display report embed error messages -->
<section class="error-container m-5">
</section>